.lds-ripple {
	display: inline-block;
	position: relative;
	width: 70px;
    height: 5px;
    padding: 15px;
    margin: auto;
}

.lds-ripple div {
	position: absolute;
    border: 2px solid #493f09f3;
    display: inline-block;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.8s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
