.Card {
    position:relative;
    border-radius:5px;
    border-color: #345d73 #476561;
    border-style: ridge;
    box-shadow: 2px 3px 13px -6px rgba(0,0,0,0.75);
    padding:1rem;
    box-sizing:border-box;
    background-color:rgb(250, 250, 250);
    width: 100%;
    margin-top: 1rem;
}

.Card-isLoading {
    background-color:#315f6379;
    z-index:2;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: .5rem;
}